:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  font-weight: 400;
  --secondary-font: "Dancing Script", cursive;;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  /* overflow-x: hidden; */
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
  font-size: 1em;
}
a:hover {
  color: #535bf2;
  text-decoration: underline;
}

body {
  margin: 0;
  /* display: flex;
  place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 2.0em;
  /* line-height: 0; */
  text-transform: uppercase;
}

h2 {
  font-size: 1.5em;
  /* line-height: 0; */
  text-transform: capitalize;
}

p{
  font-size: 20px;
  line-height: 1em;
}

input{
  border-radius: 8px;
  width: 25em;
  height: 3em;
  text-align: center;
  font-size: 15px;
  border-color: #646cff;
  margin: 0.2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  /* height: 1em; */
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #f7df1eaa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 1em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 1em;
  transition: 0.2s ease;
}
button:hover {
  border-color: #646cff;
  transform: scale(95%);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

header{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 0.3em solid #646cffaa;
  position: fixed;
  background-color: #242424;
  width: 100%;
  z-index: 100;
}

header .header-navbar ol{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.1em;
}

header .header-navbar ol li{
  padding: 0.1em 1.0em;
  list-style: none;
}

.hero{
  height: 80vh;
  height: 80vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1)), url(./assets/Home.jpg);
  background-position: center;
  background-size: cover;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .hero-subtitle{
  font-family: var(--secondary-font);
  font-size: 2.5em;
}

.hero .hero-logo{
  font-size: 3.0em;
  line-height: 1;
}

.spaces{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5em;
}

.space-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.space-container-rooms{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 1.5em;
  border: 0.1em solid #646cff;
  border-radius: 1em;
  width: 25%;
}

.space-container-rooms:hover{
  box-shadow: 0 5px 15px #646cff;
  transform: scale(95%);
  transition: 0.2s ease;
}

.space-container-img{
  border-radius: 10px;
  overflow: hidden;
  object-fit: contain;
}

.space-container-img img{
  height: 20em;
  width: 15em;
}

.space-container-header{
  width: 15em;
  text-align: center;
}
.space-container-para{
  width: 15em;
  text-align: center;
}

.accomodation{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.amenities{
  display: flex;
}

.amenities-services{
  display: flex;
  flex-direction: column;
  padding: 2em;
  line-height: 1em;
  width: 1/2;
}

.amenities-images{
  display: flex;
  object-fit: contain;
  flex-wrap: wrap;
  height: 45em;
  padding: 2em;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 1/2;
}

.amenities-images img{
  height: 15em;
  width: 1/5;
  margin: 0.5em 0.5em;
  border: 0.1em solid black; 
}

.contact{
  display: flex;
}

.contact-image{
  background-image: url(./assets/Hotel.jpg);
  background-size: cover;
}

.contact-details{
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.contact{
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-image{
  display: flex;
  align-items:end;
  justify-content: center;
  padding: 3em;
  width: 35em;
  height: 35em;
  border-radius: 8px;
}

.contact-image:hover button{
  border-color: #646cff;
  transform: scale(95%);
}

.contact-form{
  padding: 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-personal{
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-dates{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.select-room{
  border-radius: 8px;
  width: 25em;
  height: 3em;
  text-align: center;
  font-size: 15px;
}

footer{
  background-color: #1a1a1a;
}
.reach{
  display: flex;
  align-items: center;
  justify-content: center;
}
.reach-about{
  width: 33%;
  padding: 3em;
}
.reach-us{
  width: 33%;
  padding: 3em;
}
.reach-social{
  width: 30%;
  padding: 3em;
}

@media (max-width:768px){
  *{
    box-sizing: border-box;
  }
 header{
  flex-direction: column;
 }
}

